<?xml version="1.0" encoding="UTF-8"?>
<!--
*******************************************************************************
* PDFKeeper - Open Source PDF Document Management
* Copyright (C) 2009-2024 Robert F. Frasca
*
* This file is part of PDFKeeper.
*
* PDFKeeper is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* PDFKeeper is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with PDFKeeper.  If not, see <http://www.gnu.org/licenses/>.
*******************************************************************************
-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
  <?define PDFKeeper.WinForms_TargetDir=$(var.PDFKeeper.WinForms.TargetDir)?>
  <Product Id="*" Name="PDFKeeper" Language="1033" Version="10.2.0" Manufacturer="Robert F. Frasca" UpgradeCode="39fe1920-3da7-48d1-9682-5c0c328f01b2">
    
    <Package InstallerVersion="500" Compressed="yes" InstallScope="perUser" />
		
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		
    <MediaTemplate EmbedCab="yes" />
    
    <Icon Id="PDFKeeper.ico" SourceFile="$(var.PDFKeeper.WinForms_TargetDir)PDFKeeper.ico" />
    
    <Property Id="ARPPRODUCTICON" Value="PDFKeeper.ico" />
    <Property Id="ARPHELPLINK">https://www.pdfkeeper.org/</Property>
    <Property Id="ARPURLINFOABOUT">https://www.pdfkeeper.org/</Property>
    <Property Id="ARPURLUPDATEINFO">https://www.pdfkeeper.org/</Property>
    <Property Id="ARPNOREPAIR" Value="yes" Secure="yes" /> 
    <Property Id="ARPNOMODIFY" Value="yes" Secure="yes" />
    <Property Id="ALLUSERS" Value="2" />
    <Property Id="MSIINSTALLPERUSER" Value="1" />
    <Property Id="MSIFASTINSTALL" Value="1" />

    <Property Id="WINCURRENTBUILD">
      <RegistrySearch Id="CheckWinCurrentBuild" Root="HKLM" Key="SOFTWARE\Microsoft\Windows NT\CurrentVersion" Name="CurrentBuild" Type="raw" />
    </Property>
    <Condition Message="[ProductName] requires Windows 10 or higher.">
      <![CDATA[Installed OR (WINCURRENTBUILD > 9600)]]>
    </Condition>
    
    <PropertyRef Id="WIXNETFX4RELEASEINSTALLED" />
    <Condition Message="[ProductName] requires .NET Framework 4.8 to be installed.">
      <![CDATA[Installed OR (WIXNETFX4RELEASEINSTALLED >= "#528040")]]>
    </Condition>
    
    <Feature Id="ProductFeature" Title="PDFKeeper" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
      <ComponentRef Id="ApplicationDesktopShortcut" />
      <ComponentRef Id="ApplicationStartMenuShortcut" />
    </Feature>

    <Component Id="ApplicationDesktopShortcut" Guid="72393B8E-4F3C-465E-878F-9EFA5370A559" Directory="DesktopFolder">
      <Shortcut Id="DesktopShortcut" Name="PDFKeeper" Description="Open Source PDF Document Management" Directory="DesktopFolder" Target="[INSTALLFOLDER]PDFKeeper.exe" WorkingDirectory="INSTALLFOLDER" />
      <RegistryValue Root="HKCU" Key="Software\Robert F. Frasca\PDFKeeper" Name="installed" Type="integer" Value="1" />
    </Component>

    <Component Id="ApplicationStartMenuShortcut" Guid="4F68CEB5-6DC4-47DF-B53D-2489C70BFC1F" Directory="StartMenuFolder">
      <Shortcut Id="StartMenuShortcut" Name="PDFKeeper" Description="Open Source PDF Document Management" Directory="StartMenuFolder" Target="[INSTALLFOLDER]PDFKeeper.exe" WorkingDirectory="INSTALLFOLDER" />
      <RegistryValue Root="HKCU" Key="Software\Robert F. Frasca\PDFKeeper" Name="installed" Type="integer" Value="1" />
    </Component>
  </Product>
 
  <Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="DesktopFolder" SourceName="Desktop" />
      <Directory Id="StartMenuFolder" SourceName="StartMenu" />
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="INSTALLFOLDER" Name="PDFKeeper">
        </Directory>
      </Directory>
		</Directory>
	</Fragment>

  <Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="COPYING" Guid="fb2756c9-2b56-49ab-aa77-b79303d52016">
			  <File Id="COPYING" Name="COPYING" Source="..\..\..\..\COPYING" />
			</Component>
      <Component Id="THIRD_PARTY_NOTICES" Guid="f19f49ec-b6f6-449f-9fc8-927b474c240b">
			  <File Id="THIRD_PARTY_NOTICES" Name="THIRD-PARTY-NOTICES.txt" Source="..\..\..\..\THIRD-PARTY-NOTICES.txt" />
			</Component>
      <Component Id="PDFKeeper.ico" Guid="27f9fd6f-53f6-42cf-acbd-9e13061e25b8">
        <File Id="PDFKeeper.ico" Name="PDFKeeper.ico" Source="$(var.PDFKeeper.WinForms_TargetDir)PDFKeeper.ico" />
      </Component>
			<Component Id="PDFKeeper.exe" Guid="5f73ddef-5a96-4219-a496-eb844afcff3d">
			  <File Id="PDFKeeper.exe" Name="PDFKeeper.exe" Source="$(var.PDFKeeper.WinForms_TargetDir)PDFKeeper.exe" />
			</Component>
			<Component Id="PDFKeeper.exe.config" Guid="e3d211cb-43d4-4fe3-987c-2a4e63e4e12a">
			  <File Id="PDFKeeper.exe.config" Name="PDFKeeper.exe.config" Source="$(var.PDFKeeper.WinForms_TargetDir)PDFKeeper.exe.config" />
			</Component>
      <Component Id="PDFKeeper.en_US.chm" Guid="df6a5fd4-7f93-4541-80ab-2018dc64d0b7">
        <File Id="PDFKeeper.en_US.chm" Name="PDFKeeper.en-US.chm" Source="$(var.PDFKeeper.WinForms_TargetDir)PDFKeeper.en-US.chm" />
      </Component>
			<Component Id="AutoUpdater.NET.dll" Guid="934e759b-4d49-43d0-b49c-bfa2896192c5">
			  <File Id="AutoUpdater.NET.dll" Name="AutoUpdater.NET.dll" Source="$(var.PDFKeeper.WinForms_TargetDir)AutoUpdater.NET.dll" />
			</Component>
      <Component Id="SumatraPDF_settings.txt" Guid="6a6d167b-3b87-495a-b17f-68b5cedf5cc9">
        <File Id="SumatraPDF_settings.txt" Name="SumatraPDF-settings.txt" Source="$(var.PDFKeeper.WinForms_TargetDir)SumatraPDF-settings.txt" />
      </Component>
			<Component Id="sumatrapdfrestrict.ini" Guid="16a0b917-b9c6-42f3-bfa4-e514b36547a8">
			  <File Id="sumatrapdfrestrict.ini" Name="sumatrapdfrestrict.ini" Source="$(var.PDFKeeper.WinForms_TargetDir)sumatrapdfrestrict.ini" />
			</Component>
      <Component Id="ClearHideAllDocumentsPolicy.reg" Guid="3ee0a57f-49a5-41c2-8e8a-760ab3e55e12">
        <File Id="ClearHideAllDocumentsPolicy.reg" Name="ClearHideAllDocumentsPolicy.reg" Source="..\..\..\Config\ClearHideAllDocumentsPolicy.reg" />
      </Component>
      <Component Id="SetHideAllDocumentsPolicy.reg" Guid="6127b400-4ac1-4a1e-83ae-5947215b4c57">
        <File Id="SetHideAllDocumentsPolicy.reg" Name="SetHideAllDocumentsPolicy.reg" Source="..\..\..\Config\SetHideAllDocumentsPolicy.reg" />
      </Component>
      <Component Id="OracleDatabaseSchemaSetup.sql" Guid="0c018a44-7840-4ef4-92a7-ce0432f9e27f">
        <File Id="OracleDatabaseSchemaSetup.sql" Name="OracleDatabaseSchemaSetup.sql" Source="$(var.PDFKeeper.WinForms_TargetDir)OracleDatabaseSchemaSetup.sql" />
      </Component>
      <Component Id="gsdll64.dll" Guid="72df3d61-ee4f-45f5-928f-d8bf4e6bb36b">
        <File Id="gsdll64.dll" Name="gsdll64.dll" Source="$(var.PDFKeeper.WinForms_TargetDir)gsdll64.dll" />
      </Component>
      <Component Id="Magick.NET.Core.dll" Guid="7f85d8a9-f147-4e18-bb2e-fc418c024429">
        <File Id="Magick.NET.Core.dll" Name="Magick.NET.Core.dll" Source="$(var.PDFKeeper.WinForms_TargetDir)Magick.NET.Core.dll" />
      </Component>
      <Component Id="Magick.NET_Q16_AnyCPU.dll" Guid="7cc046ba-2263-48df-a63b-d54b1193c6da">
        <File Id="Magick.NET_Q16_AnyCPU.dll" Name="Magick.NET-Q16-AnyCPU.dll" Source="$(var.PDFKeeper.WinForms_TargetDir)Magick.NET-Q16-AnyCPU.dll" />
      </Component>      
      <Component Id="System.Data.SQLite.dll" Guid="8cd4cef8-1ee3-45b8-b99e-aabb64574f66">
        <File Id="System.Data.SQLite.dll" Name="System.Data.SQLite.dll" Source="$(var.PDFKeeper.WinForms_TargetDir)System.Data.SQLite.dll" />
      </Component>
      <Component Id="SQLite.Interop.dll" Guid="be550a2c-6467-441c-bdd9-e5d1bc9a45e1">
        <File Id="SQLite.Interop.dll" Name="SQLite.Interop.dll" Source="$(var.PDFKeeper.WinForms_TargetDir)x64\SQLite.Interop.dll" />
      </Component>
      <Component Id="gswin64c.exe" Guid="6428a10e-504d-4521-8d93-28f25fc824bd">
        <File Id="gswin64c.exe" Name="gswin64c.exe" Source="$(var.PDFKeeper.WinForms_TargetDir)gswin64c.exe" />
      </Component>
      <Component Id="itext.kernel.dll" Guid="08d6a4ec-371d-4530-bf26-f1dd38207559">
        <File Id="itext.kernel.dll" Name="itext.kernel.dll" Source="$(var.PDFKeeper.WinForms_TargetDir)itext.kernel.dll" />
      </Component>
      <Component Id="itext.io.dll" Guid="d4075a7f-2f07-4da5-bed5-b2ee0889c7ef">
        <File Id="itext.io.dll" Name="itext.io.dll" Source="$(var.PDFKeeper.WinForms_TargetDir)itext.io.dll" />
      </Component>
      <Component Id="itext.font_asian.dll" Guid="56331123-8c8d-4428-b8cf-299e8ddb25dc">
        <File Id="itext.font_asian.dll" Name="itext.font_asian.dll" Source="$(var.PDFKeeper.WinForms_TargetDir)itext.font_asian.dll" />
      </Component>
      <Component Id="Magick.Native_Q16_x86.dll" Guid="8e694e0d-2a8f-4373-a121-34ded217baa0">
        <File Id="Magick.Native_Q16_x86.dll" Name="Magick.Native-Q16-x86.dll" Source="$(var.PDFKeeper.WinForms_TargetDir)Magick.Native-Q16-x86.dll" />
      </Component>
      <Component Id="Magick.Native_Q16_x64.dll" Guid="7f0202a9-9a49-4801-88f8-98e9ed1671dc">
        <File Id="Magick.Native_Q16_x64.dll" Name="Magick.Native-Q16-x64.dll" Source="$(var.PDFKeeper.WinForms_TargetDir)Magick.Native-Q16-x64.dll" />
      </Component>
      <Component Id="Magick.Native_Q16_arm64.dll" Guid="5bdfc96d-941a-400f-bf8e-4bdedd45c3df">
        <File Id="Magick.Native_Q16_arm64.dll" Name="Magick.Native-Q16-arm64.dll" Source="$(var.PDFKeeper.WinForms_TargetDir)Magick.Native-Q16-arm64.dll" />
      </Component>
      <Component Id="System.Memory.dll" Guid="928b678d-1408-4fbf-bd7f-793fe032fda5">
        <File Id="System.Memory.dll" Name="System.Memory.dll" Source="$(var.PDFKeeper.WinForms_TargetDir)System.Memory.dll" />
      </Component>
      <Component Id="Microsoft.Extensions.DependencyInjection.dll" Guid="998a0190-ed12-4286-aa29-45e515887d22">
        <File Id="Microsoft.Extensions.DependencyInjection.dll" Name="Microsoft.Extensions.DependencyInjection.dll" Source="$(var.PDFKeeper.WinForms_TargetDir)Microsoft.Extensions.DependencyInjection.dll" />
      </Component>
      <Component Id="System.Buffers.dll" Guid="0c879bb8-0d1f-4fbd-becf-a95a93246f55">
        <File Id="System.Buffers.dll" Name="System.Buffers.dll" Source="$(var.PDFKeeper.WinForms_TargetDir)System.Buffers.dll" />
      </Component>
      <Component Id="System.Runtime.CompilerServices.Unsafe.dll" Guid="a80407e0-a121-4719-b054-8a71e5e2a798">
        <File Id="System.Runtime.CompilerServices.Unsafe.dll" Name="System.Runtime.CompilerServices.Unsafe.dll" Source="$(var.PDFKeeper.WinForms_TargetDir)System.Runtime.CompilerServices.Unsafe.dll" />
      </Component>
      <Component Id="System.Numerics.Vectors.dll" Guid="86f4c432-e5b1-4e82-b633-5b083a29dbb6">
        <File Id="System.Numerics.Vectors.dll" Name="System.Numerics.Vectors.dll" Source="$(var.PDFKeeper.WinForms_TargetDir)System.Numerics.Vectors.dll" />
      </Component>
      <Component Id="System.ValueTuple.dll" Guid="77c8bb09-e94e-41b2-9245-e2a9e661d675">
        <File Id="System.ValueTuple.dll" Name="System.ValueTuple.dll" Source="$(var.PDFKeeper.WinForms_TargetDir)System.ValueTuple.dll" />
      </Component>
      <Component Id="Microsoft.Extensions.Primitives.dll" Guid="77e2f959-b056-401a-b8a0-60a699a068d3">
        <File Id="Microsoft.Extensions.Primitives.dll" Name="Microsoft.Extensions.Primitives.dll" Source="$(var.PDFKeeper.WinForms_TargetDir)Microsoft.Extensions.Primitives.dll" />
      </Component>
      <Component Id="Microsoft.Extensions.Options.dll" Guid="2f2d59db-11bf-4f81-9db8-4c1cd87b362b">
        <File Id="Microsoft.Extensions.Options.dll" Name="Microsoft.Extensions.Options.dll" Source="$(var.PDFKeeper.WinForms_TargetDir)Microsoft.Extensions.Options.dll" />
      </Component>
      <Component Id="System.Threading.Tasks.Extensions.dll" Guid="e9b6ff88-f867-475c-97fa-f615b400ceb7">
        <File Id="System.Threading.Tasks.Extensions.dll" Name="System.Threading.Tasks.Extensions.dll" Source="$(var.PDFKeeper.WinForms_TargetDir)System.Threading.Tasks.Extensions.dll" />
      </Component>
      <Component Id="System.Diagnostics.DiagnosticSource.dll" Guid="b82bbe7e-73b1-40f7-ba40-004098a8aeb9">
        <File Id="System.Diagnostics.DiagnosticSource.dll" Name="System.Diagnostics.DiagnosticSource.dll" Source="$(var.PDFKeeper.WinForms_TargetDir)System.Diagnostics.DiagnosticSource.dll" />
      </Component>
      <Component Id="Microsoft.Bcl.AsyncInterfaces.dll" Guid="e41f38fe-6222-4a0d-91d4-d05accf51fe1">
        <File Id="Microsoft.Bcl.AsyncInterfaces.dll" Name="Microsoft.Bcl.AsyncInterfaces.dll" Source="$(var.PDFKeeper.WinForms_TargetDir)Microsoft.Bcl.AsyncInterfaces.dll" />
      </Component>
      <Component Id="itext.commons.dll" Guid="57d9dbe7-de8e-461a-8c7d-80b246b92070">
        <File Id="itext.commons.dll" Name="itext.commons.dll" Source="$(var.PDFKeeper.WinForms_TargetDir)itext.commons.dll" />
      </Component>
      <Component Id="Microsoft.Extensions.Logging.Abstractions.dll" Guid="d6502dd0-c34c-4010-8f71-6cc5b8bd6aed">
        <File Id="Microsoft.Extensions.Logging.Abstractions.dll" Name="Microsoft.Extensions.Logging.Abstractions.dll" Source="$(var.PDFKeeper.WinForms_TargetDir)Microsoft.Extensions.Logging.Abstractions.dll" />
      </Component>
      <Component Id="Newtonsoft.Json.dll" Guid="85345b02-5265-4839-9f38-4f05eee1c3a0">
        <File Id="Newtonsoft.Json.dll" Name="Newtonsoft.Json.dll" Source="$(var.PDFKeeper.WinForms_TargetDir)Newtonsoft.Json.dll" />
      </Component>
      <Component Id="Microsoft.Extensions.Logging.dll" Guid="87a0c49b-945f-41c5-8514-5ff269684621">
        <File Id="Microsoft.Extensions.Logging.dll" Name="Microsoft.Extensions.Logging.dll" Source="$(var.PDFKeeper.WinForms_TargetDir)Microsoft.Extensions.Logging.dll" />
      </Component>
      <Component Id="Microsoft.Extensions.DependencyInjection.Abstractions.dll" Guid="c0d45ceb-d797-4140-a24a-6b69e53703e9">
        <File Id="Microsoft.Extensions.DependencyInjection.Abstractions.dll" Name="Microsoft.Extensions.DependencyInjection.Abstractions.dll" Source="$(var.PDFKeeper.WinForms_TargetDir)Microsoft.Extensions.DependencyInjection.Abstractions.dll" />
      </Component>      
      <Component Id="PDFKeeper.Core.dll" Guid="35a76400-b870-4541-bc9c-8b17219dbb47">
        <File Id="PDFKeeper.Core.dll" Name="PDFKeeper.Core.dll" Source="$(var.PDFKeeper.WinForms_TargetDir)PDFKeeper.Core.dll" />
      </Component>
      <Component Id="PDFKeeper.PDFViewer.dll" Guid="523123e8-544a-43d1-b2c6-6b258e93d263">
        <File Id="PDFKeeper.PDFViewer.dll" Name="PDFKeeper.PDFViewer.dll" Source="$(var.PDFKeeper.WinForms_TargetDir)PDFKeeper.PDFViewer.dll" />
      </Component>
      <Component Id="SumatraPDF_3.5.2_64.exe" Guid="f620ba5d-79e6-4d69-bc46-8379f55e2e9e">
        <File Id="SumatraPDF_3.5.2_64.exe" Name="SumatraPDF-3.5.2-64.exe" Source="$(var.PDFKeeper.WinForms_TargetDir)SumatraPDF-3.5.2-64.exe" />
      </Component>
      <Component Id="itext.bouncy_castle_connector.dll" Guid="3aadbc87-5d62-45dc-a478-1a9e2ee3082d">
        <File Id="itext.bouncy_castle_connector.dll" Name="itext.bouncy-castle-connector.dll" Source="$(var.PDFKeeper.WinForms_TargetDir)itext.bouncy-castle-connector.dll" />
      </Component>
      <Component Id="itext.bouncy_castle_adapter.dll" Guid="d36c53c8-d8b1-4ba8-9855-14de3d4b52b2">
        <File Id="itext.bouncy_castle_adapter.dll" Name="itext.bouncy-castle-adapter.dll" Source="$(var.PDFKeeper.WinForms_TargetDir)itext.bouncy-castle-adapter.dll" />
      </Component>
      <Component Id="BouncyCastle.Cryptography.dll" Guid="5ba5c46f-096e-40ca-b0fc-71e3cea143fb">
        <File Id="BouncyCastle.Cryptography.dll" Name="BouncyCastle.Cryptography.dll" Source="$(var.PDFKeeper.WinForms_TargetDir)BouncyCastle.Cryptography.dll" />
      </Component>
      <Component Id="ConnectionSettingManager.cmd" Guid="b2c65832-fe92-4933-a929-e154d68fc1cb">
        <File Id="ConnectionSettingManager.cmd" Name="ConnectionSettingManager.cmd" Source="$(var.PDFKeeper.WinForms_TargetDir)ConnectionSettingManager.cmd" />
      </Component>      
  	</ComponentGroup>
	</Fragment>
</Wix>
