<?xml version="1.0" encoding="UTF-8"?>
<!--
*******************************************************************************
* PDFKeeper - Open Source PDF Document Storage Solution
* Copyright (C) 2009-2018  Robert F. Frasca
*
* This file is part of PDFKeeper.
*
* PDFKeeper is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* PDFKeeper is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with PDFKeeper.  If not, see <http://www.gnu.org/licenses/>.
*******************************************************************************
-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
  <?define PDFKeeper.WindowsApplication_TargetDir=$(var.PDFKeeper.WindowsApplication.TargetDir)?>
  <Product Id="*"
           Name="PDFKeeper" 
           Language="1033"
           Version="5.0.0"
           Manufacturer="Robert F. Frasca"
           UpgradeCode="39fe1920-3da7-48d1-9682-5c0c328f01b2">
    
    <Package InstallerVersion="500" Compressed="yes" InstallScope="perUser" />
		
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		
    <MediaTemplate EmbedCab="yes" />
    
    <Icon Id="PDFKeeper.ico" SourceFile="$(var.PDFKeeper.WindowsApplication_TargetDir)PDFKeeper.ico"/>
    
    <Property Id="ARPPRODUCTICON" Value="PDFKeeper.ico" />
    <Property Id='ARPHELPLINK'>https://www.pdfkeeper.org/</Property>
    <Property Id='ARPURLINFOABOUT'>https://www.pdfkeeper.org/</Property>
    <Property Id='ARPURLUPDATEINFO'>https://www.pdfkeeper.org/</Property>
    <Property Id="ARPNOREPAIR" Value="yes" Secure="yes" /> 
    <Property Id="ARPNOMODIFY" Value="yes" Secure="yes" />
    <Property Id="ALLUSERS" Value="2" />
    <Property Id="MSIINSTALLPERUSER" Value="1" />
    
    <PropertyRef Id="WIX_IS_NETFRAMEWORK_461_OR_LATER_INSTALLED" />
    <Condition Message="[ProductName] requires .NET Framework 4.6.1 or higher.">
      <![CDATA[Installed OR WIX_IS_NETFRAMEWORK_461_OR_LATER_INSTALLED]]>
    </Condition>
    
    <Feature Id="ProductFeature" Title="PDFKeeper" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
			<ComponentGroupRef Id="pdftopng_docs" />
      <ComponentRef Id="ApplicationDesktopShortcut" />
      <ComponentRef Id="ApplicationStartMenuShortcut" />
    </Feature>

    <Component Id="ApplicationDesktopShortcut" 
               Guid="72393B8E-4F3C-465E-878F-9EFA5370A559" 
               Directory="DesktopFolder" >
      <Shortcut Id="DesktopShortcut"
                Name="PDFKeeper"
                Description="Open Source PDF Document Storage Solution"
                Directory="DesktopFolder"
                Target="[INSTALLFOLDER]PDFKeeper.exe"
                WorkingDirectory="INSTALLFOLDER"/>
      <RegistryValue Root="HKCU"
                     Key="Software\Robert F. Frasca\PDFKeeper"
                     Name="installed"
                     Type="integer"
                     Value="1" />
    </Component>

    <Component Id="ApplicationStartMenuShortcut"
              Guid="4F68CEB5-6DC4-47DF-B53D-2489C70BFC1F"
              Directory="StartMenuFolder" >
      <Shortcut Id="StartMenuShortcut"
                Name="PDFKeeper"
                Description="Open Source PDF Document Storage Solution"
                Directory="StartMenuFolder"
                Target="[INSTALLFOLDER]PDFKeeper.exe"
                WorkingDirectory="INSTALLFOLDER"/>
      <RegistryValue Root="HKCU"
                     Key="Software\Robert F. Frasca\PDFKeeper"
                     Name="installed"
                     Type="integer"
                     Value="1" />
    </Component>
  </Product>
 
  <Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="DesktopFolder" SourceName="Desktop" />
      <Directory Id="StartMenuFolder" SourceName="StartMenu" />
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="PDFKeeper">
          <Directory Id="pdftopng" Name="pdftopng" />
          <Directory Id="da" Name="da" />
          <Directory Id="de" Name="de" />
          <Directory Id="es" Name="es" />
          <Directory Id="fr" Name="fr" />
          <Directory Id="it" Name="it" />
          <Directory Id="ja_JP" Name="ja-JP" />
          <Directory Id="ko" Name="ko" />
          <Directory Id="nl" Name="nl" />
          <Directory Id="pl" Name="pl" />
          <Directory Id="pt" Name="pt" />
          <Directory Id="ru" Name="ru" />
          <Directory Id="sv" Name="sv" />
          <Directory Id="tr" Name="tr" />
          <Directory Id="zh" Name="zh" />
        </Directory>
			</Directory>
		</Directory>
	</Fragment>

  <Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="COPYING" Guid="fb2756c9-2b56-49ab-aa77-b79303d52016">
			  <File Id="COPYING" Name="COPYING" Source="..\..\..\..\COPYING" />
			</Component>
      <Component Id="PDFKeeper.ico" Guid="27f9fd6f-53f6-42cf-acbd-9e13061e25b8">
        <File Id="PDFKeeper.ico" Name="PDFKeeper.ico" Source="$(var.PDFKeeper.WindowsApplication_TargetDir)PDFKeeper.ico" />
      </Component>
			<Component Id="PDFKeeper.exe" Guid="5f73ddef-5a96-4219-a496-eb844afcff3d">
			  <File Id="PDFKeeper.exe" Name="PDFKeeper.exe" Source="$(var.PDFKeeper.WindowsApplication_TargetDir)PDFKeeper.exe" />
			</Component>
			<Component Id="PDFKeeper.exe.config" Guid="e3d211cb-43d4-4fe3-987c-2a4e63e4e12a">
			  <File Id="PDFKeeper.exe.config" Name="PDFKeeper.exe.config" Source="$(var.PDFKeeper.WindowsApplication_TargetDir)PDFKeeper.exe.config" />
			</Component>
      <Component Id="PDFKeeper.en_US.chm" Guid="df6a5fd4-7f93-4541-80ab-2018dc64d0b7">
        <File Id="PDFKeeper.en_US.chm" Name="PDFKeeper.en-US.chm" Source="$(var.PDFKeeper.WindowsApplication_TargetDir)PDFKeeper.en-US.chm" />
      </Component>
			<Component Id="AutoUpdater.NET.dll" Guid="934e759b-4d49-43d0-b49c-bfa2896192c5">
			  <File Id="AutoUpdater.NET.dll" Name="AutoUpdater.NET.dll" Source="$(var.PDFKeeper.WindowsApplication_TargetDir)AutoUpdater.NET.dll" />
			</Component>
			<Component Id="itextsharp.dll" Guid="79db00d3-1bc8-4d0a-a257-a37ca1562ac5">
			  <File Id="itextsharp.dll" Name="itextsharp.dll" Source="$(var.PDFKeeper.WindowsApplication_TargetDir)itextsharp.dll" />
			</Component>
			<Component Id="SumatraPDF.exe" Guid="ff1d2f6f-03bb-45af-a5fc-29b65fab3745">
        <File Id="SumatraPDF.exe" Name="SumatraPDF.exe" Source="$(var.PDFKeeper.WindowsApplication_TargetDir)SumatraPDF.exe" />
      </Component>
      <Component Id="SumatraPDF_settings.txt" Guid="6a6d167b-3b87-495a-b17f-68b5cedf5cc9">
        <File Id="SumatraPDF_settings.txt" Name="SumatraPDF-settings.txt" Source="$(var.PDFKeeper.WindowsApplication_TargetDir)SumatraPDF-settings.txt" />
      </Component>
			<Component Id="sumatrapdfrestrict.ini" Guid="16a0b917-b9c6-42f3-bfa4-e514b36547a8">
			  <File Id="sumatrapdfrestrict.ini" Name="sumatrapdfrestrict.ini" Source="$(var.PDFKeeper.WindowsApplication_TargetDir)sumatrapdfrestrict.ini" />
			</Component>
      <Component Id="pdftopng.exe" Guid="dc8e8178-d036-422a-9b13-2852d345bad2">
        <File Id="pdftopng.exe" Name="pdftopng.exe" Source="$(var.PDFKeeper.WindowsApplication_TargetDir)pdftopng.exe" />
      </Component>
      <Component Id="OracleDBBasicToWorldLexerSwitch.sql" Guid="e39d7014-6ce4-4c05-b646-36fb3dc75872">
        <File Id="OracleDBBasicToWorldLexerSwitch.sql" Name="OracleDBBasicToWorldLexerSwitch.sql" Source="..\..\..\Help\OracleDBBasicToWorldLexerSwitch.sql" />
      </Component>
      <Component Id="OracleDBChangeSchemaAccountPassword.sql" Guid="7a13ce42-3dbb-4a96-af59-506853dbbe63">
        <File Id="OracleDBChangeSchemaAccountPassword.sql" Name="OracleDBChangeSchemaAccountPassword.sql" Source="..\..\..\Help\OracleDBChangeSchemaAccountPassword.sql" />
      </Component>
      <Component Id="OracleDBSchemaSetup.sql" Guid="c9a1dcef-b245-4656-95e3-8bf3156fa370">
        <File Id="OracleDBSchemaSetup.sql" Name="OracleDBSchemaSetup.sql" Source="..\..\..\Help\OracleDBSchemaSetup.sql" />
      </Component>
      <Component Id="DisableQueryAllDocuments.reg" Guid="3ee0a57f-49a5-41c2-8e8a-760ab3e55e12">
        <File Id="DisableQueryAllDocuments.reg" Name="DisableQueryAllDocuments.reg" Source="..\..\..\Config\DisableQueryAllDocuments.reg" />
      </Component>
      <Component Id="EnableQueryAllDocuments.reg" Guid="6127b400-4ac1-4a1e-83ae-5947215b4c57">
        <File Id="EnableQueryAllDocuments.reg" Name="EnableQueryAllDocuments.reg" Source="..\..\..\Config\EnableQueryAllDocuments.reg" />
      </Component>
  	</ComponentGroup>
	</Fragment>

  <Fragment>
    <ComponentGroup Id="pdftopng_docs" Directory="pdftopng">
      <Component Id="pdftopng_pdftopng.txt" Guid="71b9184c-bdf9-4a4a-a880-083b3620c988">
        <File Id="pdftopng_pdftopng.txt" Name="pdftopng.txt" Source="..\..\..\..\vendor\xpdf-tools-win-4.00\doc\pdftopng.txt" />
      </Component>
      <Component Id="pdftopng_COPYING" Guid="f46a2ad4-adfd-45e7-8b7f-da19e4ca58bd">
        <File Id="pdftopng_COPYING" Name="COPYING" Source="..\..\..\..\vendor\xpdf-tools-win-4.00\COPYING" />
      </Component>
      <Component Id="pdftopng_COPYING3" Guid="d150ee8b-7edd-4fdc-ac02-e5d3d1fcae0f">
        <File Id="pdftopng_COPYING3" Name="COPYING3" Source="..\..\..\..\vendor\xpdf-tools-win-4.00\COPYING3" />
      </Component>
      <Component Id="pdftopng_README" Guid="f1c475b3-6b8a-42a0-9220-20e49614a42c">
        <File Id="pdftopng_README" Name="README" Source="..\..\..\..\vendor\xpdf-tools-win-4.00\README" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
