<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PDFKeeper.WindowsApplication.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <PDFKeeper.WindowsApplication.My.MySettings>
            <setting name="LoginUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="LoginDatasource" serializeAs="String">
                <value />
            </setting>
            <setting name="MainSplitterDistance" serializeAs="String">
                <value>492</value>
            </setting>
            <setting name="MainLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="MainSize" serializeAs="String">
                <value>1000, 700</value>
            </setting>
            <setting name="MainWindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="LoginDatabaseManagementSystem" serializeAs="String">
                <value />
            </setting>
            <setting name="PreviewImageResolution" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="MainToolBarVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MainStatusBarVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SearchResultsSelectLastRow" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OpenPdfWithDefaultApplication" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DeleteOriginalPdfOnOK" serializeAs="String">
                <value>False</value>
            </setting>
        </PDFKeeper.WindowsApplication.My.MySettings>
    </userSettings>
</configuration>
