<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autoupdater.NET.Official" version="1.7.0" targetFramework="net48" />
  <package id="Common.Logging" version="3.4.1" targetFramework="net48" />
  <package id="Common.Logging.Core" version="3.4.1" targetFramework="net48" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net48" />
  <package id="itext7" version="7.1.16" targetFramework="net48" />
  <package id="Magick.NET.Core" version="8.1.0" targetFramework="net48" />
  <package id="Magick.NET-Q16-AnyCPU" version="8.1.0" targetFramework="net48" />
  <package id="Microsoft.CodeAnalysis.NetAnalyzers" version="5.0.3" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.CSharp" version="4.0.1" targetFramework="net48" />
  <package id="PdfPig" version="0.1.4" targetFramework="net48" />
  <package id="Portable.BouncyCastle" version="1.8.9" targetFramework="net48" />
  <package id="Stub.System.Data.SQLite.Core.NetFramework" version="1.0.114.0" targetFramework="net48" />
  <package id="System.Data.SQLite" version="1.0.114.4" targetFramework="net48" />
  <package id="System.Data.SQLite.Core" version="1.0.114.3" targetFramework="net48" />
  <package id="System.Data.SQLite.EF6" version="1.0.114.0" targetFramework="net48" />
  <package id="System.Data.SQLite.Linq" version="1.0.114.0" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
  <package id="WindowsAPICodePack" version="1.1.2" targetFramework="net48" />
</packages>