*.exe
/vendor/xpdf-tools-win
*.suo
/src/packages
/src/PDFKeeper.WindowsApplication/bin
/src/PDFKeeper.WindowsApplication/obj
*.user
*.chm
bin
obj
.vs
/src/PDFKeeper.WindowsApplication/*.editorconfig
*.zip
