<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!-- Example connection to a SQL Server Database on localhost. -->
		<!-- <add name="ExampleConnectionString"
			connectionString="Data Source=.;Initial Catalog=DBName;Integrated Security=True"
			providerName="System.Data.SqlClient" /> -->
	</connectionStrings>
	<appSettings>
		<!-- access these values via the property:
			System.Configuration.ConfigurationManager.AppSettings[key]
		-->
		<add key="ProjectSiteUrl" value="http://pdfkeeper.codeplex.com/" />
		<add key="NewIssueUrl" value="http://pdfkeeper.codeplex.com/WorkItem/Create" />
		<add key="wkhtmltopdf" value="C:\Program Files\wkhtmltopdf\wkhtmltopdf.exe" />
 	</appSettings>
</configuration>
