<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PDFKeeper.Presentation.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog" />
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information" />
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  
  <userSettings>
    <PDFKeeper.Presentation.My.MySettings>
      <setting name="HorizontalSplitterDistance" serializeAs="String">
        <value>373</value>
      </setting>
      <setting name="MainViewLocation" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="MainViewSize" serializeAs="String">
        <value>1000, 800</value>
      </setting>
      <setting name="MainViewState" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="DbManagementSystem" serializeAs="String">
        <value />
      </setting>
      <setting name="PreviewPixelDensity" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="ToolBarVisible" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="StatusBarVisible" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SelectLastDocumentRow" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowPdfWithDefaultApplication" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UpgradeSettings" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AddPdfFlagDocument" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AddPdfDeleteSelectedPdfWhenAdded" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Username" serializeAs="String">
        <value />
      </setting>
      <setting name="Datasource" serializeAs="String">
        <value />
      </setting>
      <setting name="FindFlaggedDocumentsOnStartup" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AddPdfOcrPdfTextAndImageDataPages" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="VerticalSplitterDistance" serializeAs="String">
        <value>488</value>
      </setting>
    </PDFKeeper.Presentation.My.MySettings>
  </userSettings>
</configuration>