<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PDFKeeper.WinForms.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1"/>
    </startup>
    <userSettings>
        <PDFKeeper.WinForms.Properties.Settings>
            <setting name="DbManagementSystem" serializeAs="String">
                <value/>
            </setting>
            <setting name="UpgradeSettings" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PreviewPixelDensity" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="ShowPdfWithDefaultApplication" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MainFormSize" serializeAs="String">
                <value>1000, 800</value>
            </setting>
            <setting name="SelectLastDocumentRow" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FindFlaggedDocumentsOnStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowAllDocumentsOnStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Username" serializeAs="String">
                <value/>
            </setting>
            <setting name="Datasource" serializeAs="String">
                <value/>
            </setting>
            <setting name="HorizontalSplitterDistance" serializeAs="String">
                <value>373</value>
            </setting>
            <setting name="MainFormLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="MainFormState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="ToolBarVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StatusBarVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AddPdfDeleteSelectedPdfWhenAdded" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VerticalSplitterDistance" serializeAs="String">
                <value>488</value>
            </setting>
            <setting name="CompactLocalDatabaseAfterDelete" serializeAs="String">
                <value>False</value>
            </setting>
        </PDFKeeper.WinForms.Properties.Settings>
    </userSettings>
</configuration>
