<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
		<DirectoryRef Id="TARGETDIR">
			<Directory Id="ProgramFilesFolder" Name="PFiles">
				<Directory Id="INSTALLDIR" Name="PDFKeeper">
					<Component Id="LicenseRtf" Guid="51DFE8C8-4306-4898-AEFB-7031B5E95ED0" DiskId="1">
						<File Id="LicenseFile" Name="license.rtf" Source="license.rtf" KeyPath="yes" />
					</Component>
					<Component Guid="8ADB0AD8-8885-4EF5-B1ED-7D1BFF56A7F1" Id="SumatrapdfrestrictIni" DiskId="1" Feature="Complete">
						<File Source="..\..\Application\PDFKeeper\bin\Release\sumatrapdfrestrict.ini" Name="sumatrapdfrestrict.ini" Id="sumatrapdfrestrict.ini" KeyPath="yes" />
					</Component>
					<Component Guid="6FFE0124-F139-47A9-A669-619CAF990EEF" Id="SumatraPDFExe" DiskId="1" Feature="Complete">
						<File Source="..\..\Application\PDFKeeper\bin\Release\SumatraPDF.exe" Name="SumatraPDF.exe" Id="SumatraPDF.exe" KeyPath="yes" />
					</Component>
					<Component Guid="4E0F9D42-AA6D-441D-B8D6-D513FA47624D" Id="ItextsharpDll" DiskId="1" Feature="Complete">
						<File Source="..\..\Application\PDFKeeper\bin\Release\itextsharp.dll" Name="itextsharp.dll" Id="itextsharp.dll" KeyPath="yes" />
					</Component>
					<Component Guid="6E3D13AF-0599-425F-AB01-A7C1BB94C79F" Id="NiniDll" DiskId="1" Feature="Complete">
						<File Source="..\..\Application\PDFKeeper\bin\Release\Nini.dll" Name="Nini.dll" Id="Nini.dll" KeyPath="yes" />
					</Component>
					<Component Guid="50AF3D29-0033-4E2D-820A-86C47DA274C6" Id="Gxps_907_win32Exe" DiskId="1" Feature="Complete">
						<File Source="..\..\Application\PDFKeeper\bin\Release\gxps-9.07-win32.exe" Name="gxps-9.07-win32.exe" Id="gxps_9.07_win32.exe" KeyPath="yes" />
					</Component>
					<Component Guid="90D088D0-D87F-4B9E-A3D1-19A05C3FE13B" Id="PDFKeeperenChm" DiskId="1" Feature="Complete">
						<File Source="..\..\Application\PDFKeeper\bin\Release\PDFKeeper.en.chm" Name="PDFKeeper.en.chm" Id="PDFKeeper.en.chm" KeyPath="yes" />
					</Component>
					<Component Guid="6F1C0913-0A7F-40FE-B690-44070D18B3CE" Id="InteropIWshRuntimeLibraryDll" DiskId="1" Feature="Complete">
						<File Source="..\..\Application\PDFKeeper\bin\Release\Interop.IWshRuntimeLibrary.dll" Name="Interop.IWshRuntimeLibrary.dll" Id="Interop.IWshRuntimeLibrary.dll" KeyPath="yes" />
					</Component>
					<Component Guid="537B3415-EDE6-4380-8095-AE1335E11717" Id="PdfKeeperExe" Feature="Complete" DiskId="1">
						<File Source="..\..\Application\PDFKeeper\bin\Release\PdfKeeper.exe" Name="PdfKeeper.exe" Id="PdfKeeper.exe" KeyPath="yes" />
					</Component>
					<Component Guid="98A4817A-3448-4427-BE39-445EABB035BD" Id="DatabaseSetupCmd" DiskId="1" Feature="Complete">
						<File Source="..\..\Common\Database Setup\DatabaseSetup.cmd" Name="DatabaseSetup.cmd" Id="DatabaseSetup.cmd" KeyPath="yes" />
					</Component>
					<Component Guid="BDE2613B-718E-4365-A84D-75B7AE830F4F" Id="DatabaseSetupSql" DiskId="1" Feature="Complete">
						<File Source="..\..\Common\Database Setup\DatabaseSetup.sql" Name="DatabaseSetup.sql" Id="DatabaseSetup.sql" KeyPath="yes" />
					</Component>
					<Component Guid="670D9945-995F-4459-81B0-CE7DF1E52558" Id="Readyset_licenseHtml" DiskId="1" Feature="Complete">
						<File Source="..\..\Documentation\Licenses\readyset-license.html" Name="readyset-license.html" Id="readyset_license.html" KeyPath="yes" />
					</Component>
					<Component Guid="8CD2DDB5-EADB-45A1-ADD4-A8F2B9AF6EC4" Id="THIRDPARTYNOTICESTxt" DiskId="1" Feature="Complete">
						<File Source="..\..\Documentation\Licenses\THIRDPARTYNOTICES.txt" Name="THIRDPARTYNOTICES.txt" Id="THIRDPARTYNOTICES.txt" KeyPath="yes" />
					</Component>
					<Directory Id="Guides" Name="Guides">
						<Component Guid="4455B013-E930-48FB-8213-80DA3FC9F8FA" Id="DatabaseSetupUserAccountManagementGuideHtml" DiskId="1" Feature="Complete">
							<File Source="..\..\Documentation\Guides\DatabaseSetupUserAccountManagementGuide.html" Name="DatabaseSetupUserAccountManagementGuide.html" Id="DatabaseSetupUserAccountManagementGuide.html" KeyPath="yes" />
						</Component>
						<Component Guid="156D3DCD-14E1-4CF1-98CD-3F5B0BCFD078" Id="GettingStartedGuideHtml" DiskId="1" Feature="Complete">
							<File Source="..\..\Documentation\Guides\GettingStartedGuide.html" Name="GettingStartedGuide.html" Id="GettingStartedGuide.html" KeyPath="yes" />
						</Component>
						<Component Guid="B524CA42-58A8-4DA9-9A4B-0EC5ED2237B1" Id="ReleaseNotesHtml" DiskId="1" Feature="Complete">
							<File Source="..\..\Documentation\Guides\ReleaseNotes.html" Name="ReleaseNotes.html" Id="ReleaseNotes.html" KeyPath="yes" />
						</Component>
						<Component Guid="0AE4789A-4B93-4BE6-B2A7-919DFDE22BEE" Id="UserFAQHtml" DiskId="1" Feature="Complete">
							<File Source="..\..\Documentation\Guides\UserFAQ.html" Name="UserFAQ.html" Id="UserFAQ.html" KeyPath="yes" />
						</Component>
						<Directory Id="css" Name="css">
							<Component Guid="5B8402A8-75F1-416F-95DE-FEF035FDB8C2" Id="InstCss" DiskId="1" Feature="Complete">
								<File Source="..\..\Documentation\Guides\css\inst.css" Name="inst.css" Id="inst.css" KeyPath="yes" />
							</Component>
							<Component Guid="A11836E4-8A95-484A-B714-9BA7AD1DFCD8" Id="NavCss" DiskId="1" Feature="Complete">
								<File Source="..\..\Documentation\Guides\css\nav.css" Name="nav.css" Id="nav.css" KeyPath="yes" />
							</Component>
							<Component Guid="04872A98-F940-4548-B54C-F928FE8E054B" Id="PrintCss" DiskId="1" Feature="Complete">
								<File Source="..\..\Documentation\Guides\css\print.css" Name="print.css" Id="print.css" KeyPath="yes" />
							</Component>
							<Component Guid="4FA39D9C-B54D-4B95-9F2A-7048C6925BFA" Id="ReadysetCss" DiskId="1" Feature="Complete">
								<File Source="..\..\Documentation\Guides\css\readyset.css" Name="readyset.css" Id="readyset.css" KeyPath="yes" />
							</Component>
						</Directory>
					</Directory>
					<Component Id="Ssleay32Dll" Guid="EDC8C501-D627-4887-B549-C9F29B6F1D3D" DiskId="1" Feature="Complete">
						<File Id="ssleay32.dll" Name="ssleay32.dll" Source="..\..\Application\PDFKeeper\bin\Release\ssleay32.dll" KeyPath="yes" />
					</Component>
					<Component Id="Libgcc_s_dw2_1Dll" Guid="36F9E4BA-8605-4D5D-BF32-9E492735543F" DiskId="1" Feature="Complete">
						<File Id="libgcc_s_dw2_1.dll" Name="libgcc_s_dw2-1.dll" Source="..\..\Application\PDFKeeper\bin\Release\libgcc_s_dw2-1.dll" KeyPath="yes" />
					</Component>
					<Component Id="Libeay32Dll" Guid="221CC697-D99C-48D5-8151-B9C8D2E7BB7F" DiskId="1" Feature="Complete">
						<File Id="libeay32.dll" Name="libeay32.dll" Source="..\..\Application\PDFKeeper\bin\Release\libeay32.dll" KeyPath="yes" />
					</Component>
					<Component Id="Mingwm10Dll" Guid="869547CE-E96B-4B6E-835E-64C8480B38FF" DiskId="1" Feature="Complete">
						<File Id="mingwm10.dll" Name="mingwm10.dll" Source="..\..\Application\PDFKeeper\bin\Release\mingwm10.dll" KeyPath="yes" />
					</Component>
					<Component Id="WkhtmltopdfExe" Guid="10B2D561-324B-4472-A2B0-B0D5B5D7E8C0" DiskId="1" Feature="Complete">
						<File Id="wkhtmltopdf.exe" Name="wkhtmltopdf.exe" Source="..\..\Application\PDFKeeper\bin\Release\wkhtmltopdf.exe" KeyPath="yes" />
					</Component>
					<Component Id="PdfKeeperexeConfig" Guid="969D39A7-ACA3-4FD6-B926-6806206261E8" DiskId="1" Feature="Complete">
						<File Id="PdfKeeper.exe.config" Name="PdfKeeper.exe.config" Source="..\..\Application\PDFKeeper\bin\Release\PdfKeeper.exe.config" KeyPath="yes" />
					</Component>
				</Directory>
			</Directory>
			<Directory Id="DesktopFolder">
				<Component Guid="10B4E840-F101-4F24-85ED-C2DD279B7062" Id="DesktopShortcut" DiskId="1" Feature="Complete">
					<Shortcut Description="PDF Document Storage Application" Directory="DesktopFolder" Name="PDFKeeper" Show="normal" WorkingDirectory="INSTALLDIR" Id="PdfKeeperDesktopShortcut" Target="[INSTALLDIR]PdfKeeper.exe"></Shortcut>
					<RegistryValue Root="HKCU" Type="integer" Value="1" KeyPath="yes" Name="Installed" Key="Software\PDFKeeper" />
				</Component>
			</Directory>
			<Directory Id="ProgramMenuFolder">
				<Directory Id="ApplicationProgramsFolder" Name="PDFKeeper">
					<Component Guid="710B90F9-CBF5-4AAF-B7D1-FD31082A2E0C" Id="ApplicationShortcutsFolder" Feature="Complete" DiskId="1">
						<RemoveFolder Id="ApplicationProgramsFolder" On="uninstall" />
						<RegistryValue Key="Software\PDFKeeper" Root="HKCU" Type="integer" Value="1" Name="Installed" KeyPath="yes" />
						<Shortcut Description="PDF Document Storage Application" Directory="ApplicationProgramsFolder" Name="PDFKeeper" Show="normal" WorkingDirectory="INSTALLDIR" Id="PdfKeeperStartMenuShortcut" Target="[INSTALLDIR]PdfKeeper.exe"></Shortcut>
						<Shortcut Id="DatabaseSetupStartMenuShortcut" Show="normal" WorkingDirectory="INSTALLDIR" Name="Database Setup" Directory="ApplicationProgramsFolder" Target="[INSTALLDIR]DatabaseSetup.cmd" />
					</Component>
					<Directory Id="GuidesProgramsFolder" Name="Guides">
						<Component Guid="FFDBFE46-DE3B-4E86-98DA-546D5DF07D66" Id="GuidesShortcutsFolder" DiskId="1" Feature="Complete">
							<RemoveFolder On="uninstall" Id="GuidesProgramsFolder" />
							<RegistryValue Key="Software\PDFKeeper" KeyPath="yes" Name="Installed" Root="HKCU" Type="integer" Value="1" />
							<Shortcut Show="normal" WorkingDirectory="INSTALLDIR" Name="Database Setup and User Account Management Guide" Directory="GuidesProgramsFolder" Id="DatabaseSetupUserAccountManagementGuideStartMenuShortcut" Target="[INSTALLDIR]Guides\DatabaseSetupUserAccountManagementGuide.html" />
							<Shortcut Id="GettingStartedGuideStartMenuShortcut" Name="Getting Started Guide" Show="normal" Directory="GuidesProgramsFolder" WorkingDirectory="INSTALLDIR" Target="[INSTALLDIR]Guides\GettingStartedGuide.html" />
							<Shortcut Name="Release Notes" Id="ReleaseNotesStartMenuShortcut" Directory="GuidesProgramsFolder" WorkingDirectory="INSTALLDIR" Show="normal" Target="[INSTALLDIR]Guides\ReleaseNotes.html" />
							<Shortcut Name="User FAQ" Show="normal" WorkingDirectory="INSTALLDIR" Directory="GuidesProgramsFolder" Id="UserFAQStartMenuShortcut" Target="[INSTALLDIR]Guides\UserFAQ.html" />
						</Component>
					</Directory>
				</Directory>
			</Directory>
		</DirectoryRef>
	</Fragment>
</Wix>